@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700;900&display=swap');

$colorFont: #E7E7EB;
$fontSizeNormal: 1.8rem;
$fontSizeTitle: 2rem;
$colorfontSubtitle: #A09FB1;
$colorfontText: #88869D;
$backgroundPrincipal: #1E213A;
$backgroundSecundary: #100E1D;
$marginOurPaddingNormal: 2rem;
$backgroundItems: rgba(110, 112, 122, 0.3);
$fontFamily: 'Raleway', sans-serif;