
@media only screen and (min-width: 992px) {
  .App {
    display: grid;
    grid-template-columns: 45rem 2fr;
  }

  .App__container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6rem 20rem 10rem 40rem;
  }

  .App_nextDay__container{
    grid-template-columns: repeat(5, 17.5rem);
    gap: 2rem;
    padding: 0;
    justify-content: center;
  }

  .App_today_highlights{
    grid-template-columns: 50rem 50rem;
    align-self: center;
    justify-items: center;
  }

  .App_title__container {
    margin: 0 0 0 12rem;
    display: flex;
    align-items: center;
  }

  .buttons__container {
    display: flex;
  }
}


