@import '../Master';

.burgerMenu__container {
  background-color: $backgroundPrincipal;
  width: 100%;
  max-width: 45rem;
  height: 100vh;

  &-clear-icon {
    display: flex;
    height: 8rem;
    justify-content: space-between;
    align-items: center;

    & i {
      margin-right: $marginOurPaddingNormal - 0.5;
      cursor: pointer;
    }
  }

  &-searchBar {
    display: flex;
    justify-content: center;
    margin-top: $marginOurPaddingNormal + 2;

    & form {
      display: flex;
    }

    &-groupOne {
      border: 1px solid $colorFont;
      margin-right: $marginOurPaddingNormal - 1;
      padding: $marginOurPaddingNormal - 1;
      display: flex;
      align-items: center;
    }
  }

  &-menu-location {
    display: flex;
    justify-content: space-between;
    padding: $marginOurPaddingNormal - 1;
    font-size: $fontSizeNormal;
    border: 1px solid $colorfontText;
    width: 75%;
    margin: 0 auto;
    margin-top: $marginOurPaddingNormal + 1;
  }
}

.input {
  color: $colorFont;
  font-size: $fontSizeNormal;
  font-family: inherit;
  border: none;
  outline: none;

  &.text {
    background-color: transparent;
    padding: 0.5rem;

  }

  &.submit {
    background-color:  #3C47E9;
    border: none;
    cursor: pointer;
    padding: 1rem;
  }
}

.search {
  color: $colorfontText;
}

.city-notFound-container {
  background-color: $backgroundPrincipal;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.h1 {
    text-align: center;
    letter-spacing: 0.5rem;
    font-size: $fontSizeTitle;
  }
}