@import '../Master';

.buttons__container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  display: none;

  &-grades {
    width: 4rem;
    height: 4rem;
    align-self: center;
    border-radius: 5rem;
    margin: 0 1rem;
    outline: none;
    border: none;
    background-color: $colorFont;
    font-size: $fontSizeNormal;
    cursor: pointer;
  }

  &-grades.isDesactive {
    background-color: #585676;
  }
}